openapi: 3.2.0
info:
  title: Connectivity MultiUnit Localization API
  description: 'Please read the API Guide that will help you for your integration to Holidu.

    You''ll find there the steps you''ll go through, tips and frequently asked questions.


    If you need any support, please contact us at partnersupport@holidu.com.'
  termsOfService: https://www.holidu.com/gtc
  contact:
    name: Holidu
    url: https://www.holidu.com
    email: partnersupport@holidu.com
  license:
    name: Apache License Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '2.0'
servers:
- url: https://provider-api-sandbox.holidu.com
  description: Sandbox Environment
- url: https://provider-api.holidu.com
  description: Holidu Production API
security:
- api-key:
  - read
  - write
tags:
- name: MultiUnit Localization
paths:
  /v2/multi-unit/description:
    get:
      tags:
      - MultiUnit Localization
      summary: Get descriptions for a multi-unit
      operationId: getMultiUnitDescriptions
      parameters:
      - name: provider
        in: query
        required: false
        schema:
          type: string
      - name: providerGroupId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of multi-unit descriptions
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MultiUnitDescriptionDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoliduErrorResponse'
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoliduErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoliduErrorResponse'
    post:
      tags:
      - MultiUnit Localization
      summary: Update descriptions for a multi-unit
      operationId: updateMultiUnitDescriptions
      parameters:
      - name: provider
        in: query
        required: false
        schema:
          type: string
      - name: providerGroupId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MultiUnitDescriptionDto'
        required: true
      responses:
        '200':
          description: Successful update of multi-unit descriptions
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MultiUnitDescriptionDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoliduErrorResponse'
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoliduErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoliduErrorResponse'
components:
  schemas:
    HoliduErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error Text
          example: 'Invalid Json: Unexpected character'
    MultiUnitDescriptionDto:
      required:
      - isoLanguage
      type: object
      properties:
        isoLanguage:
          type: string
          description: ISO language code
          example: en
        title:
          type: string
          description: Title of the multi-unit in the specified language
          example: Beach Resort
        description:
          type: string
          description: Description of the multi-unit in the specified language
          example: A beautiful resort by the beach
      description: Localization data for a multi-unit
  securitySchemes:
    api-key:
      type: apiKey
      name: api-key
      in: header
