openapi: 3.2.0
info:
  title: Connectivity MultiUnit Photo API
  description: 'Please read the API Guide that will help you for your integration to Holidu.

    You''ll find there the steps you''ll go through, tips and frequently asked questions.


    If you need any support, please contact us at partnersupport@holidu.com.'
  termsOfService: https://www.holidu.com/gtc
  contact:
    name: Holidu
    url: https://www.holidu.com
    email: partnersupport@holidu.com
  license:
    name: Apache License Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '2.0'
servers:
- url: https://provider-api-sandbox.holidu.com
  description: Sandbox Environment
- url: https://provider-api.holidu.com
  description: Holidu Production API
security:
- api-key:
  - read
  - write
tags:
- name: MultiUnit Photo
paths:
  /v2/multi-unit/photos:
    get:
      tags:
      - MultiUnit Photo
      summary: Get photos for a multi-unit
      operationId: getMultiUnitPhotos
      parameters:
      - name: provider
        in: query
        required: false
        schema:
          type: string
      - name: providerGroupId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of multi-unit photos
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PhotoDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoliduErrorResponse'
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoliduErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoliduErrorResponse'
    post:
      tags:
      - MultiUnit Photo
      summary: Update photos for a multi-unit
      operationId: updateMultiUnitPhotos
      parameters:
      - name: provider
        in: query
        required: false
        schema:
          type: string
      - name: providerGroupId
        in: query
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PhotoDto'
        required: true
      responses:
        '200':
          description: Successful update of multi-unit photos
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PhotoDto'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoliduErrorResponse'
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoliduErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoliduErrorResponse'
components:
  schemas:
    PhotoDto:
      required:
      - position
      - url
      type: object
      properties:
        url:
          type: string
          description: Photo URL
          example: http://r-ec.bstatic.com/images/hotel/max500/149/14959242.jpg
        position:
          minimum: 1
          type: integer
          description: Position of the photo to be shown to the customer
          format: int32
          example: 1
        contentLength:
          minimum: 1
          type: integer
          description: File size of the photo in bytes
          format: int64
        localizations:
          type: array
          description: Photo titles in different languages
          items:
            $ref: '#/components/schemas/PhotoLocalizationDto'
    PhotoLocalizationDto:
      required:
      - language
      - title
      type: object
      properties:
        language:
          maxLength: 2
          minLength: 2
          type: string
          description: ISO Language of the Photo Title
        title:
          type: string
          description: Photo Title
      description: Photo titles in different languages
    HoliduErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error Text
          example: 'Invalid Json: Unexpected character'
  securitySchemes:
    api-key:
      type: apiKey
      name: api-key
      in: header
