{"openapi":"3.0.1","info":{"title":"Connectivity API","description":"Please read the <a href='https://developer.holidu.com/v2.0/'>API Guide</a> that will help you for your integration to Holidu.<br>You'll find there the steps you'll go through, tips and frequently asked questions.<br><br>If you need any support, please contact us at partnersupport@holidu.com.","termsOfService":"https://www.holidu.com/gtc","contact":{"name":"Holidu","url":"https://www.holidu.com","email":"partnersupport@holidu.com"},"license":{"name":"Apache License Version 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"2.0"},"servers":[{"url":"https://provider-api-sandbox.holidu.com","description":"Sandbox Environment"},{"url":"https://provider-api.holidu.com","description":"Holidu Production API"}],"security":[{"api-key":["read","write"]}],"paths":{"/v2/multi-unit":{"get":{"tags":["MultiUnit"],"summary":"Get parent apartment in multi-unit structure","operationId":"getMultiUnit","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"providerGroupId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval of a parent apartment","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MultiUnitDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Multi-unit does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["MultiUnit"],"summary":"Create or update parent apartment in multi-unit structure","operationId":"upsertMultiUnit","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"providerGroupId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultiUnitDto"}}},"required":true},"responses":{"200":{"description":"Successful creation or update of a parent apartment","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MultiUnitDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/multi-unit/photos":{"get":{"tags":["MultiUnit Photo"],"summary":"Get photos for a multi-unit","operationId":"getMultiUnitPhotos","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"providerGroupId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval of multi-unit photos","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PhotoDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["MultiUnit Photo"],"summary":"Update photos for a multi-unit","operationId":"updateMultiUnitPhotos","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"providerGroupId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PhotoDto"}}}},"required":true},"responses":{"200":{"description":"Successful update of multi-unit photos","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PhotoDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/multi-unit/facilities":{"get":{"tags":["MultiUnit Facility"],"summary":"Get facilities for a multi-unit","operationId":"getMultiUnitFacilities","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"providerGroupId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval of multi-unit facilities","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MultiUnitFacility"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["MultiUnit Facility"],"summary":"Update facilities for a multi-unit","operationId":"updateMultiUnitFacilities","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"providerGroupId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MultiUnitFacility"}}}},"required":true},"responses":{"200":{"description":"Successful update of multi-unit facilities","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MultiUnitFacility"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/multi-unit/description":{"get":{"tags":["MultiUnit Localization"],"summary":"Get descriptions for a multi-unit","operationId":"getMultiUnitDescriptions","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"providerGroupId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval of multi-unit descriptions","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MultiUnitDescriptionDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["MultiUnit Localization"],"summary":"Update descriptions for a multi-unit","operationId":"updateMultiUnitDescriptions","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"providerGroupId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MultiUnitDescriptionDto"}}}},"required":true},"responses":{"200":{"description":"Successful update of multi-unit descriptions","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MultiUnitDescriptionDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/apartment/deactivate":{"put":{"tags":["Apartment"],"summary":"Deactivate apartment for provider","operationId":"deactivateApartment","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"202":{"description":"Deactivate action on apartment succeeded","content":{"text/plain":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/apartment/activate":{"put":{"tags":["Apartment"],"summary":"Activate apartment for provider","operationId":"activateApartment","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"202":{"description":"Activate action on apartment succeeded","content":{"text/plain":{"schema":{"type":"string"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/apartment":{"get":{"tags":["Apartment"],"summary":"Get an apartment","operationId":"getApartment","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful retrieval of an apartment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompleteApartmentDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["Apartment"],"summary":"Create or update an apartment","operationId":"upsertApartment","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasicApartmentDto"}}},"required":true},"responses":{"200":{"description":"Successful creation or update of an apartment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompleteApartmentDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/apartments/information":{"get":{"tags":["Apartment"],"summary":"Get basic information about all apartments","operationId":"getAllApartmentInformation","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageNumber","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"A list of basic information about all apartments","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApartmentInformationPage"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/apartment/validation":{"get":{"tags":["Apartment"],"summary":"Get validation result of apartment","operationId":"getApartmentValidation","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful retrieval of validation result of an apartment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApartmentValidation"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"418":{"description":"Requested method is not available in sandbox environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/description":{"get":{"tags":["Descriptions"],"summary":"Get descriptions for an apartment","operationId":"getApartmentDescriptions","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successfully retrieved descriptions for apartment","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentDescription"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["Descriptions"],"summary":"Create or update descriptions for an apartment","operationId":"upsertApartmentDescriptions","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentDescription"}}}},"required":true},"responses":{"200":{"description":"Successfully created or updated descriptions for apartment","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentDescription"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/facilities":{"get":{"tags":["Facilities"],"summary":"Get facilities for apartment","operationId":"getFacilities","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"List of apartment facilities","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentFacility"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["Facilities"],"summary":"Update facilities for an apartment","operationId":"updateFacilities","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentFacility"}}}},"required":true},"responses":{"200":{"description":"Updated list of apartment facilities","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentFacility"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/facilities/types":{"get":{"tags":["Facilities"],"summary":"Get facility types","operationId":"getFacilityTypes","responses":{"200":{"description":"List of facility types","content":{"application/json":{"schema":{"type":"array","items":{"type":"string","enum":["SMOKING_ALLOWED","SMOKING_NOT_ALLOWED","SMOKING_AREA","PETS_ALLOWED","PETS_ALLOWED_ON_REQUEST","PETS_ALLOWED_SMALL_PETS","PETS_ALLOWED_CAT","PETS_ALLOWED_DOG","PETS_ALLOWED_DOG_MAX_10_KG","PETS_ALLOWED_DOG_MORE_THAN_10_KG","PETS_NOT_ALLOWED","PETS_ON_AVAILABILITY","VIEW","VIEW_OCEAN","VIEW_LAKE","VIEW_CITY","VIEW_GARDEN","VIEW_LANDMARK","VIEW_MOUNTAIN","VIEW_RIVER","VIEW_SEA","VIEW_BEACH","VIEW_GOLF_COURSE","VIEW_WATER","VIEW_INNER_COURTYARD","VIEW_POOL","WATERFRONT","BARRIER_FREE","SUITABLE_FOR_DISABLED","SUITABLE_FOR_ELDERLY","BARRIER_FREE_NOT","ENERGY","ENERGY_SOLAR","ENERGY_WIND","WATER_HOT","ROOF_FLAT","ENTRANCE_PRIVATE","ROOF_THATCHED","ANIMALS","ANIMALS_CAT","ANIMALS_DOG","ANIMALS_FARM","POOL","POOL_PRIVATE","POOL_CHILDREN","POOL_HEATED","POOL_INFINITY","POOL_TOYS","POOL_ROOFTOP","POOL_SEASONALLY_OPENED","POOL_FENCED","WHIRLPOOL","WHIRLPOOL_BATHTUB","ELEVATOR","INTERNET","INTERNET_NOT","INTERNET_WIFI","INTERNET_LAN","SAUNA","INFRARED_CABIN","CHIMNEY","STOVE_WOOD","FIREPLACE","CHILDFRIENDLY","RENOVATED","ALLERGY_FRIENDLY","BEST_PRICE","FOR_EVENTS","LUXURY","QUIET","VISITED_BY_HOLIDU","WASHER","DRYER","WASHER_DRYER_COMBO","FLAT_IRON","FLAT_IRON_AND_BOARD","HEATING","HEATING_NOT","HEATING_OIL","HEATING_GAS","HEATING_UNDERFLOOR","HEATING_WOOD_STOVE","HEATING_ELECTRIC","AIR_CONDITION","VENTILATOR","SOLARIUM","POOL_INDOOR","POOL_INDOOR_CHILDREN","WHIRLPOOL_INDOOR","TV","TV_CHILDREN","TV_LCD","TV_FLAT_SCREEN","TV_GERMAN_CHANNELS","TV_FRENCH_CHANNELS","TV_ENGLISH_CHANNELS","TV_SPANISH_CHANNELS","TV_DUTCH_CHANNELS","TV_DANISH_CHANNELS","TV_ITALIAN_CHANNELS","TV_INTERNATIONAL_CHANNELS","TV_CABLE","TV_SATELLITE","TV_DIGITAL","TV_PAY_PER_VIEW","BEAMER","BLURAY_PLAYER","DVD_PLAYER","CD_PLAYER","RADIO","MP3_PLAYER","IPOD_DOCK","SPEAKERS","SOUND_SYSTEM","COMPUTER","TELEPHONE","HIGHCHAIR","PLAYROOM","ROOMS_LOUNGE","INTERCOM","FIRE_PIT","FIRE_EXTINGUISHER","FIRE_ALARM","CARBONMONOXIDE_DETECTOR","ALARM_HOUSE","BED_KING","BED_QUEEN","BED_DOUBLE","BED_SINGLE","BED_CHILDREN","BED_BABY","BED_EXTRA","BED_SLEEPING_COUCH","BED_SLEEPING_COUCH_2","BED_SLEEPING_COUCH_1","BED_FOLDAWAY","BED_BUNK","BED_BUNK_1","BED_BUNK_2","BED_FLOOR_MATTRESS","BED_AIR_MATTRESS","ROOMS_DININGROOM","ROOMS_LIVINGROOM","ROOMS_SINGLE","ROOMS_DOUBLE","ROOMS_FAMILY","ROOMS_BATHROOM","ROOMS_BEDROOM","ROOMS_COMMON","SUITED_FOR_GROUPS","OUTDOOR_DINING_AREA","SAFE","BALCONY_TERRACE","BALCONY","BALCONY_COVERED","BALCONY_UNCOVERED","TERRACE","TERRACE_COVERED","TERRACE_UNCOVERED","TERRACE_ROOFTOP","GARDEN","HOUSEOWNED_BEACH","GARDEN_FURNITURE","HAMMOCK","STROLLER","DECK_CHAIR","BEACH_CHAIR","POOL_OUTDOOR","POOL_OUTDOOR_CHILDREN","WHIRLPOOL_OUTDOOR","STEAMBATH","FENCED_PROPERTY","FENCED_PROPERTY_NOT","TOYS","TOYS_BOARD_GAME","TOYS_BOOKS","TOYS_BOOKS_FOR_CHILDREN","TOYS_DVDS","TOYS_DVDS_FOR_CHILDREN","GAME_CONSOLE_PS3","GAME_CONSOLE_PS4","GAME_CONSOLE_XBOX_ONE","GAME_CONSOLE_XBOX_360","GAME_CONSOLE_WII","GAME_CONSOLE_OTHER","PLAYGROUND","GRILL","GRILL_GAS","GRILL_COAL","GRILL_ELECTRIC","PARKING","PARKING_SPOT","PARKING_AT_OBJECT","PARKING_GARAGE","PARKING_CARPORT","PARKING_STREET","PARKING_SECURE","PARKING_DISABLED","CONSERVATORY","BICYCLE_RACK","BICYCLE_CELLAR","BICYCLE_RENTALS_ON_SITE","LANDING_STAGE","SKI_IN_OUT","SKI_BUS_AT_PROPERTY","PARASOL","KITCHEN","KITCHEN_NOT","KITCHENETTE","OVEN","COOKTOP","MICROWAVE","FRIDGE","ICE_MAKER","FREEZER","FRIDGE_FREEZER_COMBINATION","DISHWASHER","WATER_HEATER","COFFEE_TEA_MACHINE","COFFEE_MACHINE","ESPRESSO_MACHINE","COFFEE","MIXER","TOASTER","JUICER","MINIBAR","KETTLE","SPICES","DISHES","CUTLERY","KITCHEN_UTENSILS","SHOWER","SHOWER_BATHTUB_COMBO","SHOWER_BATHTUB","SHOWER_OUTSIDE","BATHTUB","SEPARATE_TOILET","EN_SUITE_TOILET","HAIRDRYER","VACUUM_CLEANER","IRONING_BOARD","TROUSERPRESS","WARDROBE","CLOTHES_HANGERS","FURNITURE_DESK","CURTAINS_BLACKOUT","SMOKE_DETECTOR","TOWELS","TOWELS_BEACH_POOL","TOWELS_NOT","TOILETRIES","BEDLINEN","BEDLINEN_NOT","DISHCLOTH","BATHROBE","BREAKFAST","HALF_BOARD","LUNCHSERVICE_PACKED","CHILDCARE","BIKE_RENTAL","SKI_RENTAL","SKI_STORAGE","SKI_PASS","SCOOTER_RENTAL","CAR_RENTAL","BOAT_RENTAL","BIKE_PROVIDED","BOAT_PROVIDED","AIRPORT_SHUTTLE","SHUTTLE_SERVICE","FIRST_AID_KIT","DOORMAN","RECEPTION_24H","ATM","DRY_CLEANING","IRONING_SERVICE","LUGGAGE_STORAGE","CURRENCY_EXCHANGE","RESTAURANT","MINIMARKET","HOUSEKEEPING","HOUSEKEEPING_DAILY","HOUSEKEEPING_WEEKLY","BOOK_WITHOUT_CREDIT_CARD","CHEQUES_VACANCES","GROUPS_NOT_ALLOWED","YOUTH_GROUPS_NOT_ALLOWED","YOUTH_GROUPS_ALLOWED","SUITABLE_YOUNG_PEOPLE","SUITABLE_CHILDREN","SUITABLE_CHILDREN_NO","CHILDREN_NOT_ALLOWED","FAMILY_FRIENDLY","HOUSEOWNER_LIVES_ONSPOT","LONGTERM_STAYS_ALLOWED","CHECKIN_HOST","CHECKIN_SELF","KEY_CARD_ACCESS","LOCATION_GROUND_FLOOR","LOCATION_UPPER_FLOOR","WINTER_SPORTS","WATER_SPORTS","SKI_VACATION","BEACH_VACATION","FARM_VACATION","NATURE","WELLNESS","WELLNESS_TREATMENTS","WELLNESS_AREA","GYM","TENNIS_COURT","GOLF","MINIGOLF","FISHING","SAILING","HIKING","HORSEBACK_RIDING","WATERPARK","SURFING","WINDSURFING","KITESURFING","BIKING","DIVING","MOUNTAIN_BIKING","BOAT_TRIP","BILLIARD_TABLE","TABLE_TENNIS","PUBLIC_TRANSPORTATION","CHILDREN_ALLOWED","SINK","BASKETBALL","BIKE","BOAT","VOLLEY_BALL_COURT","GOLF_COURT","CROSS_COUNTRY_SKI","BY_THE_WATER","IN_THE_SKI_RESORT","CLOSE_TO_SKI_LIFTS","SKI_PASS_DISCOUNTED","SKI_PASS_INCLUDED","SKI_RENTAL_DISCOUNTED","SKI_RENTAL_INCLUDED","SKI_SCHOOL_DISCOUNTED","SKI_SCHOOL_INCLUDED","BIKE_STORAGE","LGBTQ_FRIENDLY","GREEN_PROPERTY","EVENT_FRIENDLY","PRIVATE_BEACH","BEACH_ACCESS","BEACH_FRONT","LAKE_FRONT","WATER_FRONT","OCEAN_FRONT","ELECTRIC_VEHICLE_CHARGING_STATION","ELECTRIC_BIKE_CHARGING_STATION","MOBILITY_PUBLIC_TRANSPORT","MOBILITY_BIKES","MOBILITY_EBIKES","RENEWABLE_ENERGY","RECYCLING_GLASS","RECYCLING_PAPER","RECYCLING_PLASTIC","RECYCLING_ORGANIC","ENERGY_SAVING_SOLAR_PANELS","ENERGY_SAVING_WIND_POWER","ENERGY_SAVING_METHANE_DIGESTER","ENERGY_SAVING_SOLAR_COLLECTOR","ENERGY_SAVING_LIGHTING","ENERGY_SAVING_SMART_CONTROLS","ENERGY_SOLAR_THERMAL_PANELS","ENERGY_HEAT_PUMPS","ENERGY_GREEN_ELECTRICITY_PROVIDER","ENERGY_BIOMASS","ENERGY_GEOTHERMICS","ENERGY_INFRARED_HEATING_PANELS","ENERGY_MASONRY_HEATER","INSULATION_GLASS","INSULATION_ROOF","INSULATION_WALL","INSULATION_FLOOR","INSULATION_NATURAL_MATERIALS","INSULATION_GREEN_COOL_ROOF","WATER_SAVING_SHOWER","WATER_SAVING_TOILET","WATER_SAVING_TAPS","RAINWATER_TREATMENT","GREY_WATER_SYSTEM","OWN_PRODUCE_JAM","OWN_PRODUCE_VEGETABLES","OWN_PRODUCE_HERBS","OWN_PRODUCE_OLIVE_OIL","OWN_PRODUCE_HONEY","OWN_PRODUCE_FRUITS","OWN_PRODUCE_EGGS","OWN_PRODUCE_CHEESE","OWN_PRODUCE_BREAD","OWN_PRODUCE_NUTS","ECO_CLEANING_PRODUCTS","SUSTAINABLE_CONSTRUCTION","EVENT_MEAL","EVENT_BIRTHDAY_CHILD","EVENT_BABY_SHOWER","EVENT_STAG_PARTY","EVENT_WEDDING","EVENT_BIRTHDAY_ADULT","SHOWER_ROLL_IN","SHOWER_GRAB_RAILS","TOILET_RAISED","WIDE_DOORS","STEP_FREE_ACCESS","BATHTUB_CHAIR","BATHROOM_TURNING_CYCLE_MIN_1_5_M","BATHROOM_EMERGENCY_CORD","STEP_FREE_INTERIOR","SHOWER_CHAIR","TOILET_GRAB_RAILS","BATHROOM_SINK_LOWERED","INTERNET_WIFI_FOR_VIDEO_CALLS","DRINKING_WATER_BOTTLED","DISH_DETERGENT","SHAMPOO","PARTIES_NOT_ALLOWED","LAUNDRY","LAUNDRY_SERVICE","WATER_PARK","CORONA_RULES_APPLIED","SOUTERRAIN","BOWLING","KEGELBAHN","YOGA_SCHOOL","UNIT_SIZE","PRINTER","PIANO","BABYSITTING_SERVICES","ROOM_SERVICE","HOUR_SEC","_24HOUR_SECURITY","AIR_PURIFIER","BABY_MONITOR","BED_EXTRA_LONG","BIDET","BOOT_DRIER","BREAD_SERVICE","BROADCAST_LIVE_SPORT","CANOEING","CASHLESS_PAYMENT","CLEANING_PRODUCTS","CLOTHES_DRYING_RACK","COFFEE_GRINDER","CONCIERGE","COOKING_CLASS","EXPRESS_CHECKINOUT","ECOTOURISM","FLOOR_CARPETING","GROCERY_DELIVERY","HOT_SPRINGS","HYPOALLERGENIC_PILLOW","JET_SKIING","KAYAKING","KIDS_CLUB","LIVE_MUSIC","MEAL_DELIVERY","MOSQUITO_NET","MOTORBOATING","NEWSPAPER","NO_STEP_FREE_ACCESS","NORDIC_WALKING","RECYCLING","SANDBOX","SHOPPING","SKI_SCHOOL","SKIING","SNORKELING","SUNLOUNGER","TOOTHBRUSH","TRAMPOLINE","TV_STREAMING","VISUAL_AID_BRAILLE","VISUAL_AID_TACTILE_SIGNS","WILDLIFE_VIEWING","WINERY","WING_FOIL","STAND_UP_PADDLING","CLIMBING","SWIMMING","PARAGLIDING","RUNNING","CANYONING","YOGA","PARTNER_SUSTAINABILITY_BADGE","GASTGEBER_MIT_HERZ","ALLGAEU_TOP_HOTELS","CERTIFICATE_4FUER3","CERTIFICATE_ADAC_CAMPINGPLATZ_AUSZEICHNUNG","CERTIFICATE_ALBCARD","CERTIFICATE_ALB_CROSSING","CERTIFICATE_ALBSTEIG","CERTIFICATE_BAG_OBSTHOF","CERTIFICATE_BAG_URLAUB_AUF_DEM_BAUERNHOF","CERTIFICATE_BARRIEREFREI_ERLEBEN","CERTIFICATE_BARRIEREFREIE_UNTERKUNFT_OKGO_CH","CERTIFICATE_BERGSTEIGERDOERFER_CH","CERTIFICATE_BETT_UND_BIKE","CERTIFICATE_BETT_UND_BIKE_ADFC","CERTIFICATE_BIKE_HOTEL_HOTTELIERSUISSE_CH","CERTIFICATE_BIOSPHAEREN_GASTGEBER","CERTIFICATE_CAUSE_WE_CARE_CH","CERTIFICATE_DEHOGA_UMWELTCHECK_GOLD","CERTIFICATE_DEHOGA_UMWELTCHECK_SILBER","CERTIFICATE_DLG_LANDURLAUB","CERTIFICATE_DLG_URLAUB_AUF_DEM_WINZERHOF","CERTIFICATE_ECARF_ALLERGIKERFREUNDLICH","CERTIFICATE_ECHTE_GASTLICHKEIT_SCHWARZWALD","CERTIFICATE_ECHT_NACHHALTIG","CERTIFICATE_ECOCAMPING","CERTIFICATE_EMPFOHLENES_WEINHOTEL_BADEN_WUERTTEMBERG","CERTIFICATE_FAMILIEN_FERIEN","CERTIFICATE_FAMILIEN_RESTAURANTS","CERTIFICATE_FIVE_STAR_CH","CERTIFICATE_FIVE_STAR_GASTROSUISSE_CH","CERTIFICATE_FIVE_STAR_HOTELLERIESUISSE_CH","CERTIFICATE_FIVE_STAR_SERVICED_APARTMENTS_CH","CERTIFICATE_FIVE_STAR_SUPERIOR_CH","CERTIFICATE_FIVE_STAR_SUPERIOR_HOTTELLERIESUISSE_CH","CERTIFICATE_FOUR_STAR_CH","CERTIFICATE_FOUR_STAR_GASTROSUISSE_CH","CERTIFICATE_FOUR_STAR_HOTELLERIESUISSE_CH","CERTIFICATE_FOUR_STAR_SERVICED_APARTMENTS_CH","CERTIFICATE_FOUR_STAR_SUPERIOR_CH","CERTIFICATE_FOUR_STAR_SUPERIOR_HOTTELLERIESUISSE_CH","CERTIFICATE_GLIDE_RESTAAURANTS_CH","CERTIFICATE_GREENSIGN_LEVEL_3","CERTIFICATE_GREENSIGN_LEVEL_4","CERTIFICATE_IBEX_FAIRSTAY_CH","CERTIFICATE_LAND_URLAUB","CERTIFICATE_MICHELIN_STERN","CERTIFICATE_MOEHNETALRADWEG","CERTIFICATE_MOTORBIKE_FRIENDLY","CERTIFICATE_NACHHALTIGE_FERIENIMMOBILIE","CERTIFICATE_NATURPARK_WIRTE","CERTIFICATE_OHNE_GLUTEN_CH","CERTIFICATE_ONE_STAR_CH","CERTIFICATE_ONE_STAR_GASTROSUISSE_CH","CERTIFICATE_ONE_STAR_HOTELLERIESUISSE_CH","CERTIFICATE_ONE_STAR_SERVICED_APARTMENTS_CH","CERTIFICATE_ONE_STAR_SUPERIOR_CH","CERTIFICATE_ONE_STAR_SUPERIOR_HOTELLERIESUISSE_CH","CERTIFICATE_PARTNER_NATIONALPARK_SCHWARZWALD","CERTIFICATE_QUALITAETSBETRIEB_ROTHAARSTEIG","CERTIFICATE_SAUERLAENDER_WANDERGASTHOEFE","CERTIFICATE_SAUERLAND_HOEHENFLUG","CERTIFICATE_SCHMALLENBERGER_KINDERLAND","CERTIFICATE_SCHMECK_DEN_SUEDEN","CERTIFICATE_SCHNEESPORTHOTEL_HOTELLERIESUISSE_CH","CERTIFICATE_SCHWARZWALD_BALANCE","CERTIFICATE_SCHWARZWALD_PLUS","CERTIFICATE_SERVICE_QUALITAET_DEUTSCHLAND","CERTIFICATE_STERNE_IM_SAUERLAND","CERTIFICATE_STV_FIVE_STARS_CH","CERTIFICATE_STV_FIVE_STARS_SUP_CH","CERTIFICATE_STV_FOUR_STARS_CH","CERTIFICATE_STV_FOUR_STARS_SUP_CH","CERTIFICATE_STV_ONE_STAR_CH","CERTIFICATE_STV_ONE_STAR_SUP_CH","CERTIFICATE_STV_THREE_STARS_CH","CERTIFICATE_STV_THREE_STARS_SUP_CH","CERTIFICATE_STV_TWO_STARS_CH","CERTIFICATE_STV_TWO_STARS_SUP_CH","CERTIFICATE_SWISS_HISTORIC_HOTELS_CH","CERTIFICATE_SWISS_LODGE_HOTTELIERSUISSE_CH","CERTIFICATE_SWISSTAINABLE_LEVEL_ONE_CH","CERTIFICATE_SWISSTAINABLE_LEVEL_TWO_CH","CERTIFICATE_SWISSTAINSABLE_LEVEL_THREE_CH","CERTIFICATE_THREE_STAR_CH","CERTIFICATE_THREE_STAR_GASTROSUISSE_CH","CERTIFICATE_THREE_STAR_HOTELLERIESUISSE_CH","CERTIFICATE_THREE_STAR_SERVICED_APARTMENTS_CH","CERTIFICATE_THREE_STAR_SUPERIOR_CH","CERTIFICATE_THREE_STAR_SUPERIOR_HOTTELLERIESUISSE_CH","CERTIFICATE_TRAUFGAENGE_GASTGEBER","CERTIFICATE_TWO_STAR_CH","CERTIFICATE_TWO_STAR_GASTROSUISSE_CH","CERTIFICATE_TWO_STAR_HOTELLERIESUISSE_CH","CERTIFICATE_TWO_STAR_SERVICED_APARTMENTS_CH","CERTIFICATE_TWO_STAR_SUPERIOR_CH","CERTIFICATE_TWO_STAR_SUPERIOR_HOTTELLERIESUISSE_CH","CERTIFICATE_URLAUB_AUF_DEM_BAUERNHOF","CERTIFICATE_URLAUB_AUF_DEM_BAUERNHOF_GER","CERTIFICATE_WANDERBARES_DEUTSCHLAND","CERTIFICATE_WANDERBARES_DEUTSCHLAND_GASTRONOMIE","CERTIFICATE_WANDER_HOTEL_HOTTELIERSUISSE_CH","CERTIFICATE_WELLNESS_AND_SPA_HOTTELIERSUISSE_CH","CERTIFICATE_WELLNESS_HOTEL_HOTTELIERSUISSE_CH","CERTIFICATE_WELLNESS_STARS_DEUTSCHLAND","CERTIFICATE_WIN_CHARTA_DES_LANDES_BADEN_WUERTTEMBERG","CERTIFICATE_WINTERSPORTARENA_SAUERLAND","DREIWELTEN_CARD","ECHT_BODENSEE_CARD","GUESTCARD","HOCHSCHWARZWALD_CARD","SAUERLAND_CARD","SAUERLAND_SOMMER_CARD","SCHMALLENBERGER_SAUERLAND_CARD","WILLINGEN_MEINE_CARD","MARKENPARTNER","CERTIFICATE_URLAUBS_WINZERHOF","CERTIFICATE_URLAUBS_REITERHOF","CERTIFICATE_SCHWARZWALD_","BALANCE","CERTIFICATE_VIABONO","CERTIFICATE_MEDICAL_WELLNESS_THREE_STARS","CERTIFICATE_MEDICAL_WELLNESS_FOUR_STARS","CERTIFICATE_MEDICAL_WELLNESS_FIVE_STARS","CERTIFICATE_VIA_MICHELIN_TWO_STARS","CERTIFICATE_VIA_MICHELIN_THREE_STARS","CERTIFICATE_BRONZE_DEHOGA","CERTIFICATE_BIKE_AREA_SAUERLAND","CERTIFICATE_SAUERLAND_WALDROUTE","CERTIFICATE_KAISERSTUEHLER_WINZERHOF","CERTIFICATE_WEINHOTELS_KAISERSTUHL","CERTIFICATE_KOSTENLOS_STORNIERBAR_GARANTIE","CERTIFICATE_WIR_FUER_SIE","CERTIFICATE_PARTNER_BIOSPHAERENGEBIET_SCHWAEBISCHE_ALB","CERTIFICATE_REISEN_FUER_ALLE","CERTIFICATE_DLG_","LANDURLAUB","CERTIFICATE_BIOSFERA_PARTNERBETRIEB_CH","THEMENPARTNER_KULTUR","THEMENPARTNER_RAD","THEMENPARTNER_WANDERN","THEMENPARTNER_FAMILIE","THEMENPARTNER_WELLNESS","TOP_GASTGEBER_BOFE","LUNCH","DINNER"]}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/facilities/locations":{"get":{"tags":["Facilities"],"summary":"Get facility locations","operationId":"getFacilityLocations","responses":{"200":{"description":"List of possible facility Locations","content":{"application/json":{"schema":{"type":"array","items":{"type":"string","enum":["UNDEFINED","NEAR_BY","IN_APARTMENT"]}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/photos":{"get":{"tags":["Photos"],"summary":"Get photos for an apartment","operationId":"getPhotos","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"List of photos for the apartment","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PhotoDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["Photos"],"summary":"Update photos for an apartment","operationId":"updatePhotos","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PhotoDto"}}}},"required":true},"responses":{"200":{"description":"Updated list of photos for the apartment","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PhotoDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/reviews":{"get":{"tags":["Reviews"],"summary":"Get customer reviews for apartment","operationId":"getCustomerReviews","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successfully retrieved customer reviews for apartment","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomerReviewDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["Reviews"],"summary":"Post the customer reviews of an apartment","operationId":"updateCustomerReviews","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"replaceReviews","in":"query","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomerReviewDto"}}}},"required":true},"responses":{"200":{"description":"Successfully updated customer reviews for apartment","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomerReviewDto"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"409":{"description":"Conflicting request. Can occur when adding duplicated reviews from the same visit in parallel.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/los":{"get":{"tags":["LOS"],"summary":"Get LOS for an apartment","operationId":"getLos","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"rateId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval of LOS for an apartment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LosDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["LOS"],"summary":"Create or update LOS for an apartment","operationId":"upsertLos","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LosDto"}}},"required":true},"responses":{"200":{"description":"Successful creation or update of LOS for an apartment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LosDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"delete":{"tags":["LOS"],"summary":"Delete LOS for an apartment","operationId":"deleteLos","parameters":[{"name":"providerApartmentId","in":"query","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"rateId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful removal of LOS for an apartment"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/los/rate-ids":{"get":{"tags":["LOS"],"summary":"Get LOS rate Ids for an apartment","operationId":"getLosRateIds","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful retrieval of LOS rate Ids for an apartment","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/availability":{"get":{"tags":["Availability"],"summary":"Get apartment availability","operationId":"getAvailability","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful retrieval of apartment availability","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApartmentAvailability"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}},"deprecated":true},"post":{"tags":["Availability"],"summary":"Update apartment availability","operationId":"updateAvailability","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApartmentAvailability"}}},"required":true},"responses":{"200":{"description":"Successful update of apartment availability","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApartmentAvailability"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"406":{"description":"Request terminated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}},"deprecated":true}},"/v2/rates":{"get":{"tags":["Rates"],"summary":"Get apartment rate plans","operationId":"getRates","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful retrieval of apartment rates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApartmentRates"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}},"deprecated":true},"post":{"tags":["Rates"],"summary":"Update apartment rate plans","operationId":"setRates","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApartmentRates"}}},"required":true},"responses":{"200":{"description":"Successful creation or update of rate plans for the apartment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApartmentRates"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"406":{"description":"Request terminated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}},"deprecated":true}},"/v2/apartments/extracosts":{"get":{"tags":["Extra Costs"],"summary":"Get the extra costs of an apartment","operationId":"getExtraCosts","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successfully retrieved extra costs for apartment","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentExtraCost"}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["Extra Costs"],"summary":"Update the extra costs of an apartment","operationId":"updateExtraCosts","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentExtraCost"}}}},"required":true},"responses":{"200":{"description":"Successful update of extra costs for apartment","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentExtraCost"}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/discount":{"get":{"tags":["Discounts"],"summary":"Get a single discount for an apartment by discount id","operationId":"getDiscountById","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"discountId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful retrieval of discount by id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscountDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment or discount does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["Discounts"],"summary":"Create or update a single discount for an apartment","operationId":"upsertDiscount","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscountDto"},"examples":{"Adding new Discount":{"summary":"Adding new Discount","description":"Adding new Discount","value":{"status":"ACTIVE","name":"Long stay Discount","discountType":"LONG_STAY","discountPercent":"10","conditions":{"minStay":"15"}}},"Updating existing Discount":{"summary":"Updating existing Discount","description":"Updating existing Discount","value":{"id":"18321","status":"INACTIVE","name":"Early bird Discount","discountType":"EARLY_BIRD","discountPercent":"12","conditions":{"daysBeforeCheckIn":"60"}}}}}},"required":true},"responses":{"200":{"description":"Discount created or updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscountDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/discounts":{"get":{"tags":["Discounts"],"summary":"Get discounts for an apartment","operationId":"getDiscounts","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful retrieval of discounts for an apartment","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DiscountDto"}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/apartments/terms-and-conditions":{"get":{"tags":["Booking Terms"],"summary":"Get terms and conditions for apartment","operationId":"getTermsAndConditions","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successfully retrieved terms and conditions for apartment","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentTermsAndConditions"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["Booking Terms"],"summary":"Update terms and conditions for apartment","operationId":"updateTermsAndConditions","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentTermsAndConditions"}}}},"required":true},"responses":{"200":{"description":"Successfully updated terms and conditions for apartment","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentTermsAndConditions"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/apartments/payment-configuration":{"get":{"tags":["Booking Terms"],"summary":"Get payment configuration for apartment","operationId":"getPaymentConfiguration","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"rateId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved payment configuration for apartment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApartmentPaymentConfiguration"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["Booking Terms"],"summary":"Update payment configuration for apartment","description":"Replaces existing payment configurations with new ones for apartment","operationId":"updatePaymentConfiguration","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApartmentPaymentConfiguration"}}},"required":true},"responses":{"200":{"description":"Successfully updated payment configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApartmentPaymentConfiguration"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"delete":{"tags":["Booking Terms"],"summary":"Delete payment configuration for apartment","description":"Deletes existing payment configuration for apartment","operationId":"deletePaymentConfiguration","parameters":[{"name":"providerApartmentId","in":"query","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"rateId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted payment configuration"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/apartments/cancellation-policy":{"get":{"tags":["Booking Terms"],"summary":"Get cancellation conditions for apartment","operationId":"getCancellationPolicy","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"rateId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful retrieval of cancellation conditions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentCancellationPolicy"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"post":{"tags":["Booking Terms"],"summary":"Update cancellation conditions for apartment","description":"Replaces any pre-configured cancellation policies with new ones for Apartment","operationId":"updateCancellationConditions","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentCancellationPolicy"}}}},"required":true},"responses":{"200":{"description":"Cancellation policies updated","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentCancellationPolicy"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}},"delete":{"tags":["Booking Terms"],"summary":"Delete cancellation policy for apartment","description":"Deletes existing cancellation policy for apartment","operationId":"deleteCancellationPolicy","parameters":[{"name":"providerApartmentId","in":"query","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"rateId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted cancellation policy"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/apartments/payment-configuration/rate-ids":{"get":{"tags":["Booking Terms"],"summary":"Get payment configuration rateIds for apartment","operationId":"getPaymentConfigurationRateIds","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successfully retrieved payment configuration rate Ids for apartment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApartmentPaymentConfiguration"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/apartments/cancellation-policy/rate-ids":{"get":{"tags":["Booking Terms"],"summary":"Get cancellation policy rate Ids for apartment","operationId":"getCancellationPolicyRateIds","parameters":[{"name":"providerApartmentId","in":"query","required":false,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"holiduApartmentId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Successful retrieval of cancellation policy rate Ids","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentCancellationPolicy"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/bookings":{"put":{"tags":["Bookings"],"summary":"Update booking details","operationId":"updateBooking","parameters":[{"name":"providerBookingId","in":"query","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingUpsert"}}},"required":true},"responses":{"200":{"description":"Booking data has been updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingDetails"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Apartment does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"418":{"description":"Requested method is not available in sandbox environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/bookings/cancel":{"post":{"tags":["Bookings"],"summary":"Cancel a booking","operationId":"cancelBooking","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string"}},{"name":"providerBookingId","in":"query","description":"Provider booking id. Either this or holiduBookingId is required.","required":false,"schema":{"type":"string"}},{"name":"holiduBookingId","in":"query","description":"Holidu booking id. Either this or providerBookingId is required.","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"cancellationFee","in":"query","required":false,"schema":{"type":"number"}},{"name":"reason","in":"query","required":true,"schema":{"type":"string","enum":["PROVIDER_NO_PAYMENT","PROVIDER_OVERBOOKED","CUSTOMER_WRONG_PRICE","CUSTOMER_WRONG_FACILITIES","CUSTOMER_UNKNOWN_REASON","CUSTOMER_REBOOKING","CUSTOMER_PERSONAL","CUSTOMER_ALTERNATIVE_HOLIDU_PRICE","CUSTOMER_ALTERNATIVE_HOLIDU_LOCATION","CUSTOMER_ALTERNATIVE_HOLIDU_OTHER","CUSTOMER_ALTERNATIVE_ELSEWHERE_PRICE","CUSTOMER_ALTERNATIVE_ELSEWHERE_LOCATION","CUSTOMER_ALTERNATIVE_ELSEWHERE_OTHER","CUSTOMER_TRAVEL_RESTRICTIONS_VISA","CUSTOMER_TRAVEL_RESTRICTIONS_COVID","CUSTOMER_TRAVEL_RESTRICTIONS_OTHER","CUSTOMER_PROVIDER_REQUEST_BOOK_ELSEWHERE","CUSTOMER_PROVIDER_REQUEST_AVAILABILITY","CUSTOMER_PROVIDER_REQUEST_OTHER","CUSTOMER_PROPERTY_QUALITY","CUSTOMER_OTHER","HOLIDU_TEST_BOOKING","HOLIDU_NO_PAYMENT"]}}],"responses":{"200":{"description":"The booking was cancelled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingCancellationResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Booking does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"418":{"description":"Requested method is not available in sandbox environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}},"/v2/bookings/details":{"get":{"tags":["Bookings"],"summary":"Get booking details","operationId":"getBookingDetails","parameters":[{"name":"provider","in":"query","description":"Only needed for subprovider identification.","required":false,"schema":{"type":"string"}},{"name":"providerBookingId","in":"query","description":"Booking id. Either this or holiduBookingId is required.","required":false,"schema":{"type":"string"}},{"name":"holiduBookingId","in":"query","description":"Holidu booking id. Either this or bookingId is required.","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Information for the booking","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BookingDetails"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"404":{"description":"Booking does not exist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"418":{"description":"Requested method is not available in sandbox environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HoliduErrorResponse"}}}}}}}},"components":{"schemas":{"ApartmentAddress":{"type":"object","properties":{"street":{"maxLength":128,"minLength":0,"type":"string","description":"Street","example":"Karlstrasse 66"},"zipCode":{"maxLength":20,"minLength":0,"type":"string","description":"ZIP Code (max 20 chars)","example":"76133"},"city":{"maxLength":128,"minLength":0,"type":"string","description":"City","example":"Munich"},"countryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Country code represented in standard ISO 3166-1 ALPHA-2 format","example":"DE"}},"description":"Address of the rental property"},"ApartmentAvailability":{"type":"object","properties":{"availableDays":{"type":"array","items":{"type":"string","description":"Day available for booking","format":"date","example":"2023-12-29"}},"bookedDays":{"type":"array","items":{"type":"string","description":"Day already booked","format":"date","example":"2023-12-30"}}}},"ApartmentCancellationPolicy":{"required":["cancellationFeeInPercent","daysBeforeArrival"],"type":"object","properties":{"daysBeforeArrival":{"minimum":0,"type":"integer","description":"Number of days before arrival for which this cancellation policy is valid","format":"int32","example":10},"cancellationFeeInPercent":{"maximum":100,"minimum":0,"type":"number","description":"Booking percentage which is non-refundable","example":30},"rateId":{"pattern":"DEFAULT|REFUNDABLE|NON_REFUNDABLE","type":"string","description":"Rate identifier","format":"string","example":"NON_REFUNDABLE"}}},"ApartmentDescription":{"required":["description","language"],"type":"object","properties":{"language":{"maxLength":2,"minLength":2,"type":"string","description":"Language","example":"de"},"description":{"type":"string","description":"Description of the apartment translated into language above","example":"Die Appartamenti La Grotta befinden sich im historischen Zentrum von Bardolino..."},"title":{"type":"string","description":"Title of the apartment translated into language above","example":"La Grotta"},"locationDescription":{"type":"string","description":"Description of the outside of apartment like location, surroundings","example":"The apartment is located at 730 m above sea level and just 300 m from Lake Bajer."}}},"ApartmentExtraCost":{"required":["basisOfCalculation","id","name","paymentTime","price","type"],"type":"object","properties":{"id":{"type":"string","description":"An identifier for this extra cost","example":"XYZ_123"},"name":{"type":"string","description":"Name of extra cost","example":"BEDLINEN","enum":["FINAL_CLEANING","EXTRA_CLEANING","REFUNDABLE_SECURITY_DEPOSIT","TOURIST_OR_CITY_TAX","VAT_OF_RENTAL_PRICE","BOOKING_FEE","HYGIENE_SURCHARGE","PET","TRAVEL_INSURANCE","TOWEL","BEDLINEN","TOWEL_BEDLINEN_PACKAGE","KITCHEN_TOWELS","BEDLINEN_AND_BEDMAKING","BABY_BED","BABY_CHAIR","BABY_COT","BABY_BUGGY","BABY_HIGH_CHAIR","EXTRA_BED","HEATING","AIRCONDITION","FIREWOOD","ELECTRICITY","WATER","GAS","SAUNA","POOL","HOT_TUB","WASHING_MACHINE","BEACH_SERVICES","CLUB_CARD","INTERNET","PARKING","AIRPORT_SHUTTLE","BREAKFAST","SERVICE_COSTS"]},"basisOfCalculation":{"type":"string","description":"How is cost is calculated","example":"PER_PERSON_PER_NIGHT","enum":["PER_STAY","PER_PERSON_PER_NIGHT","PER_NIGHT","PER_PERSON","PER_UNIT","PER_UNIT_PER_NIGHT"]},"maximumCount":{"type":"integer","description":"Maximum units that can be selected for this extra service if the service is selectable","format":"int32","example":1},"type":{"type":"string","description":"Type of service associated with this extra cost","example":"MANDATORY","enum":["MANDATORY","SELECTABLE","ON_USAGE"]},"paymentTime":{"type":"string","description":"Payment time of extra cost","example":"ONSITE","enum":["ON_BOOKING","WITH_RATES","ONSITE"]},"price":{"$ref":"#/components/schemas/ExtraCostPrice"},"condition":{"$ref":"#/components/schemas/ExtraCostCondition"}}},"ApartmentFacility":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string","description":"Facility type. Here you should map your facilities to ours. The allowed values can be taken from GET /v2/facilities/types","example":"POOL","enum":["SMOKING_ALLOWED","SMOKING_NOT_ALLOWED","SMOKING_AREA","PETS_ALLOWED","PETS_ALLOWED_ON_REQUEST","PETS_ALLOWED_SMALL_PETS","PETS_ALLOWED_CAT","PETS_ALLOWED_DOG","PETS_ALLOWED_DOG_MAX_10_KG","PETS_ALLOWED_DOG_MORE_THAN_10_KG","PETS_NOT_ALLOWED","PETS_ON_AVAILABILITY","VIEW","VIEW_OCEAN","VIEW_LAKE","VIEW_CITY","VIEW_GARDEN","VIEW_LANDMARK","VIEW_MOUNTAIN","VIEW_RIVER","VIEW_SEA","VIEW_BEACH","VIEW_GOLF_COURSE","VIEW_WATER","VIEW_INNER_COURTYARD","VIEW_POOL","WATERFRONT","BARRIER_FREE","SUITABLE_FOR_DISABLED","SUITABLE_FOR_ELDERLY","BARRIER_FREE_NOT","ENERGY","ENERGY_SOLAR","ENERGY_WIND","WATER_HOT","ROOF_FLAT","ENTRANCE_PRIVATE","ROOF_THATCHED","ANIMALS","ANIMALS_CAT","ANIMALS_DOG","ANIMALS_FARM","POOL","POOL_PRIVATE","POOL_CHILDREN","POOL_HEATED","POOL_INFINITY","POOL_TOYS","POOL_ROOFTOP","POOL_SEASONALLY_OPENED","POOL_FENCED","WHIRLPOOL","WHIRLPOOL_BATHTUB","ELEVATOR","INTERNET","INTERNET_NOT","INTERNET_WIFI","INTERNET_LAN","SAUNA","INFRARED_CABIN","CHIMNEY","STOVE_WOOD","FIREPLACE","CHILDFRIENDLY","RENOVATED","ALLERGY_FRIENDLY","BEST_PRICE","FOR_EVENTS","LUXURY","QUIET","VISITED_BY_HOLIDU","WASHER","DRYER","WASHER_DRYER_COMBO","FLAT_IRON","FLAT_IRON_AND_BOARD","HEATING","HEATING_NOT","HEATING_OIL","HEATING_GAS","HEATING_UNDERFLOOR","HEATING_WOOD_STOVE","HEATING_ELECTRIC","AIR_CONDITION","VENTILATOR","SOLARIUM","POOL_INDOOR","POOL_INDOOR_CHILDREN","WHIRLPOOL_INDOOR","TV","TV_CHILDREN","TV_LCD","TV_FLAT_SCREEN","TV_GERMAN_CHANNELS","TV_FRENCH_CHANNELS","TV_ENGLISH_CHANNELS","TV_SPANISH_CHANNELS","TV_DUTCH_CHANNELS","TV_DANISH_CHANNELS","TV_ITALIAN_CHANNELS","TV_INTERNATIONAL_CHANNELS","TV_CABLE","TV_SATELLITE","TV_DIGITAL","TV_PAY_PER_VIEW","BEAMER","BLURAY_PLAYER","DVD_PLAYER","CD_PLAYER","RADIO","MP3_PLAYER","IPOD_DOCK","SPEAKERS","SOUND_SYSTEM","COMPUTER","TELEPHONE","HIGHCHAIR","PLAYROOM","ROOMS_LOUNGE","INTERCOM","FIRE_PIT","FIRE_EXTINGUISHER","FIRE_ALARM","CARBONMONOXIDE_DETECTOR","ALARM_HOUSE","BED_KING","BED_QUEEN","BED_DOUBLE","BED_SINGLE","BED_CHILDREN","BED_BABY","BED_EXTRA","BED_SLEEPING_COUCH","BED_SLEEPING_COUCH_2","BED_SLEEPING_COUCH_1","BED_FOLDAWAY","BED_BUNK","BED_BUNK_1","BED_BUNK_2","BED_FLOOR_MATTRESS","BED_AIR_MATTRESS","ROOMS_DININGROOM","ROOMS_LIVINGROOM","ROOMS_SINGLE","ROOMS_DOUBLE","ROOMS_FAMILY","ROOMS_BATHROOM","ROOMS_BEDROOM","ROOMS_COMMON","SUITED_FOR_GROUPS","OUTDOOR_DINING_AREA","SAFE","BALCONY_TERRACE","BALCONY","BALCONY_COVERED","BALCONY_UNCOVERED","TERRACE","TERRACE_COVERED","TERRACE_UNCOVERED","TERRACE_ROOFTOP","GARDEN","HOUSEOWNED_BEACH","GARDEN_FURNITURE","HAMMOCK","STROLLER","DECK_CHAIR","BEACH_CHAIR","POOL_OUTDOOR","POOL_OUTDOOR_CHILDREN","WHIRLPOOL_OUTDOOR","STEAMBATH","FENCED_PROPERTY","FENCED_PROPERTY_NOT","TOYS","TOYS_BOARD_GAME","TOYS_BOOKS","TOYS_BOOKS_FOR_CHILDREN","TOYS_DVDS","TOYS_DVDS_FOR_CHILDREN","GAME_CONSOLE_PS3","GAME_CONSOLE_PS4","GAME_CONSOLE_XBOX_ONE","GAME_CONSOLE_XBOX_360","GAME_CONSOLE_WII","GAME_CONSOLE_OTHER","PLAYGROUND","GRILL","GRILL_GAS","GRILL_COAL","GRILL_ELECTRIC","PARKING","PARKING_SPOT","PARKING_AT_OBJECT","PARKING_GARAGE","PARKING_CARPORT","PARKING_STREET","PARKING_SECURE","PARKING_DISABLED","CONSERVATORY","BICYCLE_RACK","BICYCLE_CELLAR","BICYCLE_RENTALS_ON_SITE","LANDING_STAGE","SKI_IN_OUT","SKI_BUS_AT_PROPERTY","PARASOL","KITCHEN","KITCHEN_NOT","KITCHENETTE","OVEN","COOKTOP","MICROWAVE","FRIDGE","ICE_MAKER","FREEZER","FRIDGE_FREEZER_COMBINATION","DISHWASHER","WATER_HEATER","COFFEE_TEA_MACHINE","COFFEE_MACHINE","ESPRESSO_MACHINE","COFFEE","MIXER","TOASTER","JUICER","MINIBAR","KETTLE","SPICES","DISHES","CUTLERY","KITCHEN_UTENSILS","SHOWER","SHOWER_BATHTUB_COMBO","SHOWER_BATHTUB","SHOWER_OUTSIDE","BATHTUB","SEPARATE_TOILET","EN_SUITE_TOILET","HAIRDRYER","VACUUM_CLEANER","IRONING_BOARD","TROUSERPRESS","WARDROBE","CLOTHES_HANGERS","FURNITURE_DESK","CURTAINS_BLACKOUT","SMOKE_DETECTOR","TOWELS","TOWELS_BEACH_POOL","TOWELS_NOT","TOILETRIES","BEDLINEN","BEDLINEN_NOT","DISHCLOTH","BATHROBE","BREAKFAST","HALF_BOARD","LUNCHSERVICE_PACKED","CHILDCARE","BIKE_RENTAL","SKI_RENTAL","SKI_STORAGE","SKI_PASS","SCOOTER_RENTAL","CAR_RENTAL","BOAT_RENTAL","BIKE_PROVIDED","BOAT_PROVIDED","AIRPORT_SHUTTLE","SHUTTLE_SERVICE","FIRST_AID_KIT","DOORMAN","RECEPTION_24H","ATM","DRY_CLEANING","IRONING_SERVICE","LUGGAGE_STORAGE","CURRENCY_EXCHANGE","RESTAURANT","MINIMARKET","HOUSEKEEPING","HOUSEKEEPING_DAILY","HOUSEKEEPING_WEEKLY","BOOK_WITHOUT_CREDIT_CARD","CHEQUES_VACANCES","GROUPS_NOT_ALLOWED","YOUTH_GROUPS_NOT_ALLOWED","YOUTH_GROUPS_ALLOWED","SUITABLE_YOUNG_PEOPLE","SUITABLE_CHILDREN","SUITABLE_CHILDREN_NO","CHILDREN_NOT_ALLOWED","FAMILY_FRIENDLY","HOUSEOWNER_LIVES_ONSPOT","LONGTERM_STAYS_ALLOWED","CHECKIN_HOST","CHECKIN_SELF","KEY_CARD_ACCESS","LOCATION_GROUND_FLOOR","LOCATION_UPPER_FLOOR","WINTER_SPORTS","WATER_SPORTS","SKI_VACATION","BEACH_VACATION","FARM_VACATION","NATURE","WELLNESS","WELLNESS_TREATMENTS","WELLNESS_AREA","GYM","TENNIS_COURT","GOLF","MINIGOLF","FISHING","SAILING","HIKING","HORSEBACK_RIDING","WATERPARK","SURFING","WINDSURFING","KITESURFING","BIKING","DIVING","MOUNTAIN_BIKING","BOAT_TRIP","BILLIARD_TABLE","TABLE_TENNIS","PUBLIC_TRANSPORTATION","CHILDREN_ALLOWED","SINK","BASKETBALL","BIKE","BOAT","VOLLEY_BALL_COURT","GOLF_COURT","CROSS_COUNTRY_SKI","BY_THE_WATER","IN_THE_SKI_RESORT","CLOSE_TO_SKI_LIFTS","SKI_PASS_DISCOUNTED","SKI_PASS_INCLUDED","SKI_RENTAL_DISCOUNTED","SKI_RENTAL_INCLUDED","SKI_SCHOOL_DISCOUNTED","SKI_SCHOOL_INCLUDED","BIKE_STORAGE","LGBTQ_FRIENDLY","GREEN_PROPERTY","EVENT_FRIENDLY","PRIVATE_BEACH","BEACH_ACCESS","BEACH_FRONT","LAKE_FRONT","WATER_FRONT","OCEAN_FRONT","ELECTRIC_VEHICLE_CHARGING_STATION","ELECTRIC_BIKE_CHARGING_STATION","MOBILITY_PUBLIC_TRANSPORT","MOBILITY_BIKES","MOBILITY_EBIKES","RENEWABLE_ENERGY","RECYCLING_GLASS","RECYCLING_PAPER","RECYCLING_PLASTIC","RECYCLING_ORGANIC","ENERGY_SAVING_SOLAR_PANELS","ENERGY_SAVING_WIND_POWER","ENERGY_SAVING_METHANE_DIGESTER","ENERGY_SAVING_SOLAR_COLLECTOR","ENERGY_SAVING_LIGHTING","ENERGY_SAVING_SMART_CONTROLS","ENERGY_SOLAR_THERMAL_PANELS","ENERGY_HEAT_PUMPS","ENERGY_GREEN_ELECTRICITY_PROVIDER","ENERGY_BIOMASS","ENERGY_GEOTHERMICS","ENERGY_INFRARED_HEATING_PANELS","ENERGY_MASONRY_HEATER","INSULATION_GLASS","INSULATION_ROOF","INSULATION_WALL","INSULATION_FLOOR","INSULATION_NATURAL_MATERIALS","INSULATION_GREEN_COOL_ROOF","WATER_SAVING_SHOWER","WATER_SAVING_TOILET","WATER_SAVING_TAPS","RAINWATER_TREATMENT","GREY_WATER_SYSTEM","OWN_PRODUCE_JAM","OWN_PRODUCE_VEGETABLES","OWN_PRODUCE_HERBS","OWN_PRODUCE_OLIVE_OIL","OWN_PRODUCE_HONEY","OWN_PRODUCE_FRUITS","OWN_PRODUCE_EGGS","OWN_PRODUCE_CHEESE","OWN_PRODUCE_BREAD","OWN_PRODUCE_NUTS","ECO_CLEANING_PRODUCTS","SUSTAINABLE_CONSTRUCTION","EVENT_MEAL","EVENT_BIRTHDAY_CHILD","EVENT_BABY_SHOWER","EVENT_STAG_PARTY","EVENT_WEDDING","EVENT_BIRTHDAY_ADULT","SHOWER_ROLL_IN","SHOWER_GRAB_RAILS","TOILET_RAISED","WIDE_DOORS","STEP_FREE_ACCESS","BATHTUB_CHAIR","BATHROOM_TURNING_CYCLE_MIN_1_5_M","BATHROOM_EMERGENCY_CORD","STEP_FREE_INTERIOR","SHOWER_CHAIR","TOILET_GRAB_RAILS","BATHROOM_SINK_LOWERED","INTERNET_WIFI_FOR_VIDEO_CALLS","DRINKING_WATER_BOTTLED","DISH_DETERGENT","SHAMPOO","PARTIES_NOT_ALLOWED","LAUNDRY","LAUNDRY_SERVICE","WATER_PARK","CORONA_RULES_APPLIED","SOUTERRAIN","BOWLING","KEGELBAHN","YOGA_SCHOOL","UNIT_SIZE","PRINTER","PIANO","BABYSITTING_SERVICES","ROOM_SERVICE","HOUR_SEC","_24HOUR_SECURITY","AIR_PURIFIER","BABY_MONITOR","BED_EXTRA_LONG","BIDET","BOOT_DRIER","BREAD_SERVICE","BROADCAST_LIVE_SPORT","CANOEING","CASHLESS_PAYMENT","CLEANING_PRODUCTS","CLOTHES_DRYING_RACK","COFFEE_GRINDER","CONCIERGE","COOKING_CLASS","EXPRESS_CHECKINOUT","ECOTOURISM","FLOOR_CARPETING","GROCERY_DELIVERY","HOT_SPRINGS","HYPOALLERGENIC_PILLOW","JET_SKIING","KAYAKING","KIDS_CLUB","LIVE_MUSIC","MEAL_DELIVERY","MOSQUITO_NET","MOTORBOATING","NEWSPAPER","NO_STEP_FREE_ACCESS","NORDIC_WALKING","RECYCLING","SANDBOX","SHOPPING","SKI_SCHOOL","SKIING","SNORKELING","SUNLOUNGER","TOOTHBRUSH","TRAMPOLINE","TV_STREAMING","VISUAL_AID_BRAILLE","VISUAL_AID_TACTILE_SIGNS","WILDLIFE_VIEWING","WINERY","WING_FOIL","STAND_UP_PADDLING","CLIMBING","SWIMMING","PARAGLIDING","RUNNING","CANYONING","YOGA","PARTNER_SUSTAINABILITY_BADGE","GASTGEBER_MIT_HERZ","ALLGAEU_TOP_HOTELS","CERTIFICATE_4FUER3","CERTIFICATE_ADAC_CAMPINGPLATZ_AUSZEICHNUNG","CERTIFICATE_ALBCARD","CERTIFICATE_ALB_CROSSING","CERTIFICATE_ALBSTEIG","CERTIFICATE_BAG_OBSTHOF","CERTIFICATE_BAG_URLAUB_AUF_DEM_BAUERNHOF","CERTIFICATE_BARRIEREFREI_ERLEBEN","CERTIFICATE_BARRIEREFREIE_UNTERKUNFT_OKGO_CH","CERTIFICATE_BERGSTEIGERDOERFER_CH","CERTIFICATE_BETT_UND_BIKE","CERTIFICATE_BETT_UND_BIKE_ADFC","CERTIFICATE_BIKE_HOTEL_HOTTELIERSUISSE_CH","CERTIFICATE_BIOSPHAEREN_GASTGEBER","CERTIFICATE_CAUSE_WE_CARE_CH","CERTIFICATE_DEHOGA_UMWELTCHECK_GOLD","CERTIFICATE_DEHOGA_UMWELTCHECK_SILBER","CERTIFICATE_DLG_LANDURLAUB","CERTIFICATE_DLG_URLAUB_AUF_DEM_WINZERHOF","CERTIFICATE_ECARF_ALLERGIKERFREUNDLICH","CERTIFICATE_ECHTE_GASTLICHKEIT_SCHWARZWALD","CERTIFICATE_ECHT_NACHHALTIG","CERTIFICATE_ECOCAMPING","CERTIFICATE_EMPFOHLENES_WEINHOTEL_BADEN_WUERTTEMBERG","CERTIFICATE_FAMILIEN_FERIEN","CERTIFICATE_FAMILIEN_RESTAURANTS","CERTIFICATE_FIVE_STAR_CH","CERTIFICATE_FIVE_STAR_GASTROSUISSE_CH","CERTIFICATE_FIVE_STAR_HOTELLERIESUISSE_CH","CERTIFICATE_FIVE_STAR_SERVICED_APARTMENTS_CH","CERTIFICATE_FIVE_STAR_SUPERIOR_CH","CERTIFICATE_FIVE_STAR_SUPERIOR_HOTTELLERIESUISSE_CH","CERTIFICATE_FOUR_STAR_CH","CERTIFICATE_FOUR_STAR_GASTROSUISSE_CH","CERTIFICATE_FOUR_STAR_HOTELLERIESUISSE_CH","CERTIFICATE_FOUR_STAR_SERVICED_APARTMENTS_CH","CERTIFICATE_FOUR_STAR_SUPERIOR_CH","CERTIFICATE_FOUR_STAR_SUPERIOR_HOTTELLERIESUISSE_CH","CERTIFICATE_GLIDE_RESTAAURANTS_CH","CERTIFICATE_GREENSIGN_LEVEL_3","CERTIFICATE_GREENSIGN_LEVEL_4","CERTIFICATE_IBEX_FAIRSTAY_CH","CERTIFICATE_LAND_URLAUB","CERTIFICATE_MICHELIN_STERN","CERTIFICATE_MOEHNETALRADWEG","CERTIFICATE_MOTORBIKE_FRIENDLY","CERTIFICATE_NACHHALTIGE_FERIENIMMOBILIE","CERTIFICATE_NATURPARK_WIRTE","CERTIFICATE_OHNE_GLUTEN_CH","CERTIFICATE_ONE_STAR_CH","CERTIFICATE_ONE_STAR_GASTROSUISSE_CH","CERTIFICATE_ONE_STAR_HOTELLERIESUISSE_CH","CERTIFICATE_ONE_STAR_SERVICED_APARTMENTS_CH","CERTIFICATE_ONE_STAR_SUPERIOR_CH","CERTIFICATE_ONE_STAR_SUPERIOR_HOTELLERIESUISSE_CH","CERTIFICATE_PARTNER_NATIONALPARK_SCHWARZWALD","CERTIFICATE_QUALITAETSBETRIEB_ROTHAARSTEIG","CERTIFICATE_SAUERLAENDER_WANDERGASTHOEFE","CERTIFICATE_SAUERLAND_HOEHENFLUG","CERTIFICATE_SCHMALLENBERGER_KINDERLAND","CERTIFICATE_SCHMECK_DEN_SUEDEN","CERTIFICATE_SCHNEESPORTHOTEL_HOTELLERIESUISSE_CH","CERTIFICATE_SCHWARZWALD_BALANCE","CERTIFICATE_SCHWARZWALD_PLUS","CERTIFICATE_SERVICE_QUALITAET_DEUTSCHLAND","CERTIFICATE_STERNE_IM_SAUERLAND","CERTIFICATE_STV_FIVE_STARS_CH","CERTIFICATE_STV_FIVE_STARS_SUP_CH","CERTIFICATE_STV_FOUR_STARS_CH","CERTIFICATE_STV_FOUR_STARS_SUP_CH","CERTIFICATE_STV_ONE_STAR_CH","CERTIFICATE_STV_ONE_STAR_SUP_CH","CERTIFICATE_STV_THREE_STARS_CH","CERTIFICATE_STV_THREE_STARS_SUP_CH","CERTIFICATE_STV_TWO_STARS_CH","CERTIFICATE_STV_TWO_STARS_SUP_CH","CERTIFICATE_SWISS_HISTORIC_HOTELS_CH","CERTIFICATE_SWISS_LODGE_HOTTELIERSUISSE_CH","CERTIFICATE_SWISSTAINABLE_LEVEL_ONE_CH","CERTIFICATE_SWISSTAINABLE_LEVEL_TWO_CH","CERTIFICATE_SWISSTAINSABLE_LEVEL_THREE_CH","CERTIFICATE_THREE_STAR_CH","CERTIFICATE_THREE_STAR_GASTROSUISSE_CH","CERTIFICATE_THREE_STAR_HOTELLERIESUISSE_CH","CERTIFICATE_THREE_STAR_SERVICED_APARTMENTS_CH","CERTIFICATE_THREE_STAR_SUPERIOR_CH","CERTIFICATE_THREE_STAR_SUPERIOR_HOTTELLERIESUISSE_CH","CERTIFICATE_TRAUFGAENGE_GASTGEBER","CERTIFICATE_TWO_STAR_CH","CERTIFICATE_TWO_STAR_GASTROSUISSE_CH","CERTIFICATE_TWO_STAR_HOTELLERIESUISSE_CH","CERTIFICATE_TWO_STAR_SERVICED_APARTMENTS_CH","CERTIFICATE_TWO_STAR_SUPERIOR_CH","CERTIFICATE_TWO_STAR_SUPERIOR_HOTTELLERIESUISSE_CH","CERTIFICATE_URLAUB_AUF_DEM_BAUERNHOF","CERTIFICATE_URLAUB_AUF_DEM_BAUERNHOF_GER","CERTIFICATE_WANDERBARES_DEUTSCHLAND","CERTIFICATE_WANDERBARES_DEUTSCHLAND_GASTRONOMIE","CERTIFICATE_WANDER_HOTEL_HOTTELIERSUISSE_CH","CERTIFICATE_WELLNESS_AND_SPA_HOTTELIERSUISSE_CH","CERTIFICATE_WELLNESS_HOTEL_HOTTELIERSUISSE_CH","CERTIFICATE_WELLNESS_STARS_DEUTSCHLAND","CERTIFICATE_WIN_CHARTA_DES_LANDES_BADEN_WUERTTEMBERG","CERTIFICATE_WINTERSPORTARENA_SAUERLAND","DREIWELTEN_CARD","ECHT_BODENSEE_CARD","GUESTCARD","HOCHSCHWARZWALD_CARD","SAUERLAND_CARD","SAUERLAND_SOMMER_CARD","SCHMALLENBERGER_SAUERLAND_CARD","WILLINGEN_MEINE_CARD","MARKENPARTNER","CERTIFICATE_URLAUBS_WINZERHOF","CERTIFICATE_URLAUBS_REITERHOF","CERTIFICATE_SCHWARZWALD_","BALANCE","CERTIFICATE_VIABONO","CERTIFICATE_MEDICAL_WELLNESS_THREE_STARS","CERTIFICATE_MEDICAL_WELLNESS_FOUR_STARS","CERTIFICATE_MEDICAL_WELLNESS_FIVE_STARS","CERTIFICATE_VIA_MICHELIN_TWO_STARS","CERTIFICATE_VIA_MICHELIN_THREE_STARS","CERTIFICATE_BRONZE_DEHOGA","CERTIFICATE_BIKE_AREA_SAUERLAND","CERTIFICATE_SAUERLAND_WALDROUTE","CERTIFICATE_KAISERSTUEHLER_WINZERHOF","CERTIFICATE_WEINHOTELS_KAISERSTUHL","CERTIFICATE_KOSTENLOS_STORNIERBAR_GARANTIE","CERTIFICATE_WIR_FUER_SIE","CERTIFICATE_PARTNER_BIOSPHAERENGEBIET_SCHWAEBISCHE_ALB","CERTIFICATE_REISEN_FUER_ALLE","CERTIFICATE_DLG_","LANDURLAUB","CERTIFICATE_BIOSFERA_PARTNERBETRIEB_CH","THEMENPARTNER_KULTUR","THEMENPARTNER_RAD","THEMENPARTNER_WANDERN","THEMENPARTNER_FAMILIE","THEMENPARTNER_WELLNESS","TOP_GASTGEBER_BOFE","LUNCH","DINNER"]},"maxAmount":{"type":"integer","description":"Max Amount","format":"int32","example":1},"privateUsage":{"type":"boolean","description":"Facility is in private use","example":true},"additionalFeesApply":{"type":"boolean","description":"Additional fees apply for the use of this facility","example":true},"room":{"$ref":"#/components/schemas/Room"},"availableTime":{"$ref":"#/components/schemas/FacilityAvailabilityData"},"location":{"type":"string","description":"Location of facility","example":"NEAR_BY","enum":["UNDEFINED","NEAR_BY","IN_APARTMENT"]}}},"ApartmentInformation":{"type":"object","properties":{"providerApartmentId":{"type":"string"},"holiduApartmentId":{"type":"string"},"active":{"type":"boolean"},"lastUpdate":{"type":"string","format":"date-time"}}},"ApartmentInformationPage":{"type":"object","properties":{"totalApartments":{"type":"integer","format":"int64"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"apartments":{"type":"array","items":{"$ref":"#/components/schemas/ApartmentInformation"}}}},"ApartmentPaymentConfiguration":{"required":["paymentMethods","paymentRates"],"type":"object","properties":{"paymentMethods":{"type":"array","items":{"type":"string","description":"List of payment methods valid for booking","enum":["BANK_TRANSFER","CREDIT_CARD","PAYPAL","CHEQUE_VACANCES","IDEAL","INVOICE"]}},"paymentRates":{"$ref":"#/components/schemas/PaymentRates"},"rateId":{"pattern":"DEFAULT|REFUNDABLE|NON_REFUNDABLE","type":"string","description":"Rate identifier","format":"string","example":"NON_REFUNDABLE"}},"description":"Payment configuration (payment methods and rates) applicable on booking"},"ApartmentRates":{"title":"Apartment Rates","required":["ratePlans"],"type":"object","properties":{"ratePlans":{"type":"array","items":{"$ref":"#/components/schemas/RatePlan"}}}},"ApartmentTermsAndConditions":{"required":["url"],"type":"object","properties":{"countries":{"type":"array","description":"List of country codes represented in standard ISO 3166-1 ALPHA-2 format.  If empty then applies to none.","items":{"maxLength":2,"minLength":2,"type":"string","description":"List of country codes represented in standard ISO 3166-1 ALPHA-2 format.  If empty then applies to none."}},"url":{"type":"string","description":"Url to terms and conditions","example":"https://www.abc.org/xyz"}},"description":"Terms and conditions which apply on booking for the given countries"},"ApartmentValidation":{"type":"object","properties":{"holiduApartmentId":{"type":"integer","description":"Holidu Apartment Id","format":"int64"},"providerApartmentId":{"type":"string","description":"Provider Apartment Id"},"lastValidatedAt":{"type":"string","description":"Last time validation ran for apartment","format":"date-time"},"valid":{"type":"boolean","description":"Is apartment valid"},"validationErrorMessages":{"type":"array","description":"Validation Error Messages","items":{"$ref":"#/components/schemas/ValidationErrorMessage"}}}},"AvailableTime":{"type":"object","properties":{"pointInMonth":{"type":"string","description":"Point in the month","example":"MIDDLE","enum":["BEGINNING","MIDDLE","END"]},"month":{"type":"string","description":"Month","example":"JANUARY","enum":["JANUARY","FEBRUARY","MARCH","APRIL","MAY","JUNE","JULY","AUGUST","SEPTEMBER","OCTOBER","NOVEMBER","DECEMBER"]}},"description":"Time until facility would be available"},"BasicApartmentDto":{"required":["apartmentType","guestCapacityRules","lat","lng"],"type":"object","properties":{"providerApartmentGroupId":{"type":"string","description":"ID of the house where apartment is located. If several apartments are located in one house, they'll share the same providerApartmentGroupId","example":"house-123"},"lat":{"type":"number","description":"Latitude","example":50.9293009},"lng":{"type":"number","description":"Longitude","example":5.9779776},"name":{"type":"string","description":"Name of the apartment","example":"Villa Munich Center"},"apartmentAddress":{"$ref":"#/components/schemas/ApartmentAddress"},"contactDetails":{"$ref":"#/components/schemas/ContactDetails"},"guestCapacityRules":{"$ref":"#/components/schemas/GuestCapacityRules"},"numberOfBedrooms":{"maximum":30,"minimum":1,"type":"integer","format":"int32","example":2},"numberOfLivingrooms":{"maximum":30,"minimum":1,"type":"integer","format":"int32","example":1},"numberOfBathrooms":{"maximum":30,"minimum":1,"type":"integer","format":"int32","example":2},"sizeInSqm":{"type":"number","description":"Size of apartment in square meters","example":100},"apartmentType":{"type":"string","description":"Type of the apartment","example":"VILLA","enum":["ALLOTMENT_GARDEN","APARTMENT","APARTMENT_HOTEL","BARN","BEACH_HUT","BED_AND_BREAKFAST","BOAT","BUNGALOW","CAMPER","CAMPING","CARAVAN","CASTLE","CAVE","CHACARA","CHALET","COTTAGE","COUNTRY_HOUSE","FARM","FARMHOUSE","FINCA","FISHING_HOUSE","GITE","GLAMPING","GUEST_HOUSE","GUEST_ROOM","HOLIDAY_VILLAGE","HOMESTAY","HOSTEL","HOTEL","HOUSE_BOAT","HUT","LIGHTHOUSE","LODGE","LOG_CABIN","LUXURY_TENT","MANOR","MILL","MOBILE_HOME","MOUNTAIN_HUT","PENSION","PENTHOUSE","RESIDENCE","RESORT","RIAD","ROOM","ROOM_BREAKFAST","STUDIO","TENT","TINY_HOME","TIPI","TOWER","TREE_HOUSE","TRULLO","VACATION_APARTMENT","VACATION_HOME","VILLA","YACHT","YURT"]},"checkInCheckOutTimes":{"$ref":"#/components/schemas/CheckInCheckOutTimes"},"floor":{"type":"integer","description":"The floor on which the property is located, starting with 0 for the ground floor","format":"int32","example":0},"sizeOfPlot":{"type":"number","description":"Total area includes the whole area of the property accessible to the guest. This includes the garden, terraces or garages","example":140.5},"buildYear":{"type":"integer","description":"Build year of the property","format":"int32","example":2001},"modernizedYear":{"type":"integer","description":"Year of renovation","format":"int32","example":2007},"license":{"type":"string","description":"License number of the property (the license number is required for properties in the Balearic area in Spain)","example":"1231882"},"regulatoryInformation":{"type":"object","additionalProperties":{"type":"string","description":"Store regulatory information for the apartment"},"description":"Store regulatory information for the apartment"},"isTestApartment":{"type":"boolean","description":"Mark as test apartment"},"onRequestDetails":{"$ref":"#/components/schemas/OnRequestDetails"},"leadTimeHours":{"type":"integer","description":"Booking lead time in hours","format":"int32"},"duplicateFrom":{"type":"array","description":"Use this object if other Holidu partners also have this property in their system. Please contact us before using this.","items":{"$ref":"#/components/schemas/DuplicateFrom"}}}},"BookingCancellationResponse":{"type":"object","properties":{"cancellationStatus":{"type":"string","description":"Status of the cancellation request","example":"CANCELLATION_SUCCESSFUL","enum":["ALREADY_CANCELLED","CANCELLATION_SUCCESSFUL","BOOKING_DELETED"]}}},"BookingDetails":{"type":"object","properties":{"providerApartmentId":{"type":"string"},"arrival":{"type":"string","format":"date"},"departure":{"type":"string","format":"date"},"guests":{"type":"array","items":{"$ref":"#/components/schemas/Guest"}},"customer":{"$ref":"#/components/schemas/CustomerDetails"},"specialCustomerRequest":{"type":"string"},"guestReceipt":{"$ref":"#/components/schemas/Receipt"},"paymentProcessing":{"$ref":"#/components/schemas/Payment"},"cancellationFees":{"type":"array","items":{"$ref":"#/components/schemas/CancellationFee"}},"metaData":{"$ref":"#/components/schemas/MetaData"},"rateId":{"type":"string"}}},"BookingDiscount":{"type":"object","properties":{"discountId":{"type":"integer","format":"int64"},"providerDiscountId":{"type":"string"},"name":{"type":"string"},"percentage":{"type":"number"},"amount":{"$ref":"#/components/schemas/PriceDto"}}},"BookingExtraCost":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"basisOfCalculation":{"type":"string"},"paymentTime":{"type":"string"},"type":{"type":"string"},"pricePerUnit":{"$ref":"#/components/schemas/PriceDto"},"unitsSelected":{"type":"integer","format":"int32"},"totalPrice":{"$ref":"#/components/schemas/PriceDto"}}},"BookingUpsert":{"required":["arrival","bareRentalPrice","departure","providerApartmentId"],"type":"object","properties":{"providerApartmentId":{"type":"string","description":"ID of the apartment in provider database","example":"123456"},"arrival":{"type":"string","description":"Date of arrival","format":"date","example":"2020-10-20"},"departure":{"type":"string","description":"Date of departure","format":"date","
[...]
